body {
	padding: 0;
	margin: 0;
	background-color: $black;
	color: $white;
	font-family: "RobotoRegular";
}


input[type="button"], input[type="submit"] {
	padding: 0.5rem 1rem;
	color: $white;
	background-color: $primary;
	border: 0;
	border-radius: 0.2rem;
	font-size: 1.1rem;
}

.cover {
	max-width: 1400px;
	margin: 0 auto;
	padding: 1rem;
}

.header {
	font-size: 1.3rem;
	border-bottom: $dark 1px solid;
	padding: 0 0 1rem 0;
	margin: 0 0 1rem 0;
}

.panes {
	display: flex;
	justify-content: space-between;

	.tools, .languages {
		display: flex;
		justify-content: space-between;
	}

	.languages .language {
		margin: 0 1rem 0 0;
		padding: 0.4rem 0.5rem;
		border-radius: 1rem;
		background-color: $dark;
		cursor: pointer;
		transition: background-color 0.25s;

		&.selected {background-color: $primary;}
		&:last-child {margin-right: 0;}
		&:hover {
			background-color: $selection;
		}
	}
}

.mgButton {
	width: 35px;
	height: 35px;
	background-color: $dark;
	border-radius: 1rem;
	overflow: hidden;
	transition: background-color 0.25s;

	&:hover {background-color: $gray;}

	input[type="button"] {
		display: block;
		width: 35px;
		height: 35px;
		padding: 0;
		background-color: transparent;
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		outline: none;
	}
}



.mobile {
	.panes {
		display: block;

		.languages .language {
			margin: 0 2rem 0 0;
			padding: 0.6rem 0.8rem;
			border-radius: 1.2rem;
			&:last-child {margin-right: 0;}
		}
		
		.mgButton {
			width: 50px;
			height: 50px;

			input[type="button"] {
				width: 50px;
				height: 50px;
			}
		}
	}
}