@import "../utils/variables";

.circonf {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid $primary;
  animation: circ-anim 0.9s linear infinite;
  border-color: $primary;
  border-bottom-color: transparent;

  &.micro {width: 24px; height: 24px; animation-duration: 0.7s; border-width: 1.5px;}
  &.small {width: 32px; height: 32px; animation-duration: 0.8s; border-width: 2px;}
  &.large {width: 64px; height: 64px; animation-duration: 1s; border-width: 4px;}
}

@keyframes circ-anim {
  from {transform: rotate(0);}
  to {transform: rotate(360deg);}
}