/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../css/fonts/roboto/RobotoRegular/RobotoRegular.eot");
    src: url("../css/fonts/roboto/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../css/fonts/roboto/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../css/fonts/roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../css/fonts/roboto/RobotoLight/RobotoLight.eot");
    src: url("../css/fonts/roboto/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../css/fonts/roboto/RobotoLight/RobotoLight.woff") format("woff"),
    url("../css/fonts/roboto/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../css/fonts/roboto/RobotoMedium/RobotoMedium.eot");
    src: url("../css/fonts/roboto/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../css/fonts/roboto/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../css/fonts/roboto/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../css/fonts/roboto/RobotoBold/RobotoBold.eot");
    src: url("../css/fonts/roboto/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../css/fonts/roboto/RobotoBold/RobotoBold.woff") format("woff"),
    url("../css/fonts/roboto/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
