@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}


@mixin transition($property, $duration, $func) {
  transition: $property $duration $func;
  -webkit-transition: $property $duration $func;
  -moz-transition: $property $duration $func;
  -o-transition: $property $duration $func;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBars() {
  &::-webkit-scrollbar {height: 1px; width: 8px; background: $black; overflow: visible;}
  &:hover {
    &::-webkit-scrollbar {display: block;}
  }
  &::-webkit-scrollbar-corner {display: none;}
  &::-webkit-scrollbar-button {display: none; height:0; width: 0;}
  &::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {display: block;}
  &::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement {display: none;}
  &::-webkit-scrollbar-track {-moz-background-clip: border; -webkit-background-clip: border; background-clip: padding-box;}
  &::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal {border-left-width: 0; border-right-width: 0;}
  &::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal {border-style: solid; border-color: transparent;}
  &::-webkit-scrollbar-thumb {-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.1); background-clip: padding-box; background-color: lighten($dark, 10%); min-height: 28px;}
  &::-webkit-scrollbar-thumb:hover {-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25); background-color: rgba(0,0,0,.2);}
  &::-webkit-scrollbar-thumb:active {-webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,.35); background-color: rgba(0,0,0,.3);}
  &::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {border-width: 0; border-left-width: 0; border-right-width: 0;}
}
