$black: #060606;       $dark: #333333;         $gray: #888888;       $shadow: #aaaaaa;     $shady: #d8d8d8;     $silver: #f0f0f0;   $white: #ffffff;
$primary: #1779ba;     $secondary: #8c8c8c;    $success: #3adb76;    $warning: #e87608;    $alert: #cc4b37;     $selection: #e87608;
$primaryBG: #cfe6f6;   $secondaryBG: #b8b8b8;  $successBG: #bff0d0;  $warningBG: #fff3d9;  $alertBG: #f0d6d0;   $selectionBG: #ffe080;

$maroon: #c43000;     $orange: #e86000;       $sunset: #F49240;      $peach: #ffc480;      $semiSunny: #f8d298; $sunny: #f2dfb0; $infoBK: #ffffcc;
$blue: #5080a4;       $sky: #8cacd0;          $aqua: #c8d8ff;        $lightAqua: #e3ebff;  $green: #009922;

$zColor: #0a0a0a;     $zBackground: #fefefe;  $zBorder: #cacaca;      $input: #ffffcc;      $zBorderFocus: #8a8a8a;

$imgsPath: '../i/';
